html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #0088FF;
	font-family: superscript;
	margin: 0;
}

header {
	margin-top: 2%;
	margin-left: 50%;
	height: 10%;
	width: 50%;
	position: fixed;
	top: 0;
	padding: 0;
}

header h1 {
	font-size: 60px;
	text-align: center;

	color: white;
}

.localVideo {
	position: fixed;
	height: 200px;
	right: 10px;
	bottom: 10px;
}

.tower {
	/*border: 1px solid black;*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	/*overflow: hidden;*/
}

.tower canvas {
	position: absolute;
}

.tower .level {
	font-size: 30px;

	background: #AAA;
	border: solid 10px black;
	border-bottom: none;
}

.tower .level:last-child {
	border-bottom: solid 10px black;
}

.tower .level h2 {
	padding: 20px;
	position: absolute;
}

.avatar {
	/*position: absolute;*/
}